<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Landlord</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
</head>
<body>
<div id="game-container">
  <div class="player-slot bottom-left">
      <div class="player-icon"></div>
      <div class="card-count">0</div>
      <div class="player-name">Empty</div> <!-- Username -->
      <div class="ready-status">[Not Ready]</div> <!-- Ready status -->
  </div>

  <div class="player-slot left-seat">
      <div class="player-icon"></div>
      <div class="card-count">0</div>
      <div class="player-name">Empty</div> <!-- Username -->
      <div class="ready-status">[Not Ready]</div>
  </div>

  <div class="player-slot right-seat">
      <div class="player-icon"></div>
      <div class="card-count">0</div>
      <div class="player-name">Empty</div> <!-- Username -->
      <div class="ready-status">[Not Ready]</div>
  </div>
</div>



  <div class="ready-button-container">
    <button class="ready-button">Ready?</button>
  </div>

  <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
  <script src="{{ url_for('static', filename='js/gamepage.js') }}"></script>
</body>
</html>
